
/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
	font-family: "Comic Sans MS";
	position: absolute;
	top: 30px;
	left: 11px;
}

h1 {
	font-size: 250%;
	text-align: center;
}

section {
  font-weight: bold;
  border: 2px solid black;
  width: 90%;
  height: 150%;
  margin: 16px;
  background-color: #9E9E9E;
  color: black;
  position: relative;
}

section p:nth-child(1) {
	font-size: 110%;
	margin: 0px;
	border: 1px solid black;
	border-top: 0px;
  border-right: 0px;
  padding: 5px;
  text-align: center;
}

section p:nth-child(2) {
	padding: 0px 10px 0px 10px;
	font-size: 90%;
	}

#title1 {
  width: 40%;
  height: 35px;
  position: relative;
  top: 0%;
  left: 60.01%;
  background-color: #EF9A9A;
}

#title2 {
  width: 35%;
  height: 35px;
  position: relative;
  top: 0%;
  left: 65.01%;
  background-color: #B71C1C;
  color: white;
}

#title3 {
  width: 30%;
  height: 35px;
  position: relative;
  top: 0%;
  left: 70.01%;
  background-color: #FFECB3;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop view**********/
@media (min-width: 992px) {
  .col-dv-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-tv-6 {
    float: left;
    width: 50%;
  }

  div div:nth-child(3) section {
  	width: 190%;
  }

  #title1 {
    width: 35%;
    position: relative;
    top: 0%;
    left: 65.01%;
  }

  #title2 {
    width: 27%;
    position: relative;
    top: 0%;
    left: 73.01%;
  }

  #title3 {
  	width: 10%;
  	position: relative;
  	top: 0%;
  	left: 90.01%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
   .col-mv-12 {
    float: left;
    width: 100%;
  }
   #title1 {
   width: 25%;
   height: 35px;
   position: relative;
   top: 0%;
   left: 75.01%;
 }

 #title2 {
   width: 20%;
   height: 35px;
   position: relative;
   top: 0%;
   left: 80.01%;
 }

 #title3 {
   width: 15%;
   height: 35px;
   position: relative;
   top: 0%;
   left: 85.01%;
 }
}